body {
  font-family: "Michroma", sans-serif;
  background-image: linear-gradient(to bottom right, cyan, lightgreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.icons{
  text-align: center;
}

fa-facebook{
  color: blue;
}

fa-instagram{
  color: purple;
}

fa-discord{
  color: #7289da;
}

fa-tiktok{
  color: black;
}

fa-soundcloud{
  color: orange;
}
