body {
  font-family: Montserrat;
}
body {
  background:turquoise;
}

body {
  background: linear-gradient(to top, cyan, lightgreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
img {
  width: 400px,
  height: auto
}
