body {
  font-family: "Michroma", sans-serif;
  background-image: linear-gradient(black);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.icons{
  text-align: center;
}


