body {
  font-family: "Michroma", sans-serif;
  background-image: linear-gradient(to bottom right, cyan, lightgreen);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.icons{
  color: black;
  text-align: center;
}
